.homePage {
  min-height: 1000px;
  background-color: rgb(235, 152, 7);

  .homePage_heading {
    text-align: center;
    color: white;
  }

  .homePage_paragraph {
    text-align: center;
    color: white;
  }
}
