.nav {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .links {
    height: 100%;
  }

  a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    text-transform: uppercase;
  }

  .active {
    color: rgb(177, 166, 166);
  }
}
